<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Projet Web S3{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('bundles/core/img/favicon.png') }}" />

    {% stylesheets filter='cssrewrite'
        '@CoreBundle/Resources/public/css/bootstrap.min.css'
        '@CoreBundle/Resources/public/css/bootstrap-theme.min.css'
        '@CoreBundle/Resources/public/css/main.css'
    %}

    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

</head>
<body>
{{ include("::header.html.twig") }}

{{ include(":Tool:message_flash.html.twig") }}

{% block body %}
{% endblock %}

{{ include("::footer.html.twig") }}

</body>
</html>

{% javascripts
    '@CoreBundle/Resources/public/js/jquery.min.js'
    '@CoreBundle/Resources/public/js/bootstrap.min.js'
    '@CoreBundle/Resources/public/js/main.js'
%}

<script type="text/javascript" src="{{ asset_url }}"></script>

{% endjavascripts %}