{% extends "TripBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Gestionnaire d'utilisateurs{% endblock %}


{% block page %}
    {% if tripParticipants|length > 0 %}
        <table class="table table-striped">
            <tr>
                <td><b>Prenom</b></td>
                <td><b>Nom</b></td>
                <td><b>Promo</b></td>
                <td><b>Mail</b></td>
                <td><b>Statut</b></td>
                <td><b>Commentaire</b></td>

                <td><b>Retirer du voyage</b></td>
                <td><b>Statut / Commentaire</b></td>
            </tr>
            {% for tripParticipant in tripParticipants %}
                <tr>
                    <td>{{ tripParticipant.participant.prenom }}</td>
                    <td>{{ tripParticipant.participant.nom }}</td>
                    <td>{{ tripParticipant.participant.promotion }}</td>
                    <td>{{ tripParticipant.participant.email }}</td>
                    <td>{{ tripParticipant.statut }}</td>
                    <td>{{ tripParticipant.commentaire }}</td>

                    <td>
                        <a href="{{ path('trip_admin_users_desinscription', { 'trip_id': tripParticipant.trip.id, 'user_id': tripParticipant.participant.id }) }}">
                            Retirer
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('trip_admin_users_edit', { 'trip_id': tripParticipant.trip.id, 'user_id': tripParticipant.participant.id }) }}">
                            Edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-danger">
            <p>Pas de participants trouvé.</p>
        </div>
    {% endif %}

{% endblock %}
