{% extends "SuperAdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Gestionnaire de voyages{% endblock %}


{% block page %}
    <a href="{{ path('superadmin_trip_add') }}">
        Ajouter un voyage
    </a>
    {% if trips|length > 0 %}

        <table>
            <tr>
                <td><b>Titre</b></td>
                <td><b>Statut</b></td>
                <td><b>Ouverture au public</b></td>
                <td><b>Date de début</b></td>
                <td><b>Date de fin</b></td>
                <td><b>Lieux</b></td>
                <td><b>Edit</b></td>
                <td><b>Gérer les admins</b></td>
                <td><b>Supprimer</b></td>
            </tr>
            {% for trip in trips %}
                <tr>
                    <td>{{ trip.titre }}</td>
                    <td>{{ trip.statut }}</td>

                    <td>
                        {% if trip.ouvert %}
                            Ouvert
                        {% else %}
                            Fermé
                        {% endif %}
                    </td>
                    <td>{{ trip.dateDebut|date("d M Y à H\\hi") }}</td>
                    <td>{{ trip.dateFin|date("d M Y à H\\hi") }}</td>
                    <td>{{ trip.lieux }}</td>
                    <td>
                        <a href="{{ path('superadmin_trip_edit', { 'id': trip.id }) }}">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('superadmin_trip_roles', { 'id': trip.id }) }}">
                            Gérer les admins
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('superadmin_trip_delete', { 'id': trip.id }) }}">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-danger">
            <p>Pas de voyages trouvés.</p>
        </div>
    {% endif %}

{% endblock %}
